---
## Lists
---

           -A list is a sequence defined by the list class. It contains the methods for creating, manipulating, and processing lists. Elements in a list can be accessed through an index.

In [5]:
lis1 = list() # creating an empty list
lis2 = list(["green", "blue", "red"]) # create a list with strings
lis3 = list(range(1, 7)) # create a list with a range between 1 and 7
lis4 = list("abcd") # create a list with characters

---
#### Functions on list
---

In [12]:
l = [1,2,3,4,5,6]
#len(l) # to get the length of list
max(l) # to get the maximum element in the list
min(l) # to get the minimum element in the list
sum(l) # to get the sum of the list
import random
random.shuffle(l) # to shuffle the elements in the list
l

[6, 5, 3, 1, 2, 4]

In [14]:
# indexing 
#l[index] # used to get the items in the list
l[0] # to access the first index

6

In [15]:
l[2:] # to get the items starting from index two

[3, 1, 2, 4]

In [16]:
l[-1] # to get the last elements

4

In [19]:
# looping ove the list
for i in range(len(l)):
    l[i] = i
    print(l[i], end = " ")

0 1 2 3 4 5

In [23]:
li = [3,6,9]
for i in li: # traversing the list
    print(i, end = " ")

3 6 9

In [25]:
lis3 = [x*x for x in range(7)] # creating list by using list comprehensions
lis3

[0, 1, 4, 9, 16, 25, 36]

In [26]:
lis4 = [0.5*x for x in lis3]
lis4

[0.0, 0.5, 2.0, 4.5, 8.0, 12.5, 18.0]

In [27]:
lis5 = [x for x in lis4 if x <= 12.5]
lis5

[0.0, 0.5, 2.0, 4.5, 8.0, 12.5]

---
#### Methods in Lists
---

In [28]:
lis6 = [1, 1, 98, 4, 6, 9]
lis6.append(23) # add to the end of the list
lis6

[1, 1, 98, 4, 6, 9, 23]

In [29]:
lis6.count(1) # print the occurrence number of the list element

2

In [31]:
lis7 = [3,7,0]
lis6.extend(lis7) # add a list to another list
lis6

[1, 1, 98, 4, 6, 9, 23, 3, 7, 0, 3, 7, 0]

In [32]:
lis6.index(4) # print the element in the list for a given index

3

In [33]:
lis6.insert(1, 56) # insert 56 into the index 1
lis6

[1, 56, 1, 98, 4, 6, 9, 23, 3, 7, 0, 3, 7, 0]

In [37]:
lis6.reverse() # reverse the list elements
lis6

[0, 7, 3, 0, 7, 3, 23, 9, 6, 4, 98, 1, 56, 1]

In [38]:
lis6.remove(23) # remove 23 from list
lis6

[0, 7, 3, 0, 7, 3, 9, 6, 4, 98, 1, 56, 1]

In [39]:
lis7.pop() # remove the last index element from the list
lis7

[0, 7]

---
#### Exercise
---

1. How do you create an empty list and a list with the three integers 1, 32, and 2?
2. Given lst = [30, 1, 12, 14, 10, 0], how many elements are in lst? What is the index of the first element in lst? What is the index of the last element in lst? What is lst[2]? What is lst[-2]?
3. Given lst = [30, 1, 2, 1, 0], what is the list after applying each of the following statements? Assume that each line of code is independent.
    - lst.append(40)
    - lst.insert(1, 43)
    - lst.extend([1, 43])
    - lst.remove(1)
    - lst.pop(1)
    - lst.pop()
    - lst.sort()
    - lst.reverse()
    - random.shuffle(lst)
4. Given lst = [30, 1, 2, 1, 0], what is the return value of each of the following statements?
    
    - lst.index(1)
    - lst.count(1)
    - len(lst)
    - max(lst)
    - min(lst)
    - sum(lst)