---
Python Data types and Strings
---

**Python Data types**
---
- Python has the following in-buit data types
    - Text Type:	str
    - Numeric Types:	int, float, complex
    - Sequence Types:	list, tuple, range
    - Mapping Type:	dict
    - Set Types:	set, frozenset
    - Boolean Type:	bool
    - None Type:	NoneType
---

In [16]:
a = "michael" # string type
b = 3 # integer type
c= 3.1 # float type
d = 4j # complex
e = ["michael", "banana", "orange"] # list type
f = ('orange', 'pineapple', 'fruit') # tuple type
g = range(5) # range type
h = {'bird': 'ostrich', 'location': 'africa'} # dictionary
i = {'apple', 'banana', 'orange'} # set 
j = frozenset({"apple", "banana", "orange"}) # frozenset?
k = True # bolean
l = None # non type object

---
### Python Strings & it's Methods
---

In [17]:
# we will create the strings by using the inbuilt functions of python str()
# they are characters surrounded by a single or double quotation marks
# 'michael' or "michael"

s = str()

In [18]:
# to display the contents of string object we will use the print() function
# but printing s will give us the empty object as we didn't pass to it 

print(s)

In [21]:
s1 = ('michael')
s2 = 'michael'
print(s1)
print(s2)
print(type(s2)) # strings are the objects of the string class

michael
michael
<class 'str'>

In [22]:
# strings are immutable it means that it's contents cannot be changed once created

---
#### Functions on Strings
---

In [39]:
# we can use the len() funtion to obtain the number of characters in the strings, min() and max() function to 
# obtain the smallest and largest characters in the string respectively

print(len(s2))
print(min(s2)) # depends on the ASCII
print(max(s2))

7
a
m

In [41]:
print(ord('m'))

109

---
#### Slicing of Strings
---

In [66]:
# we can use the s[index] operator to access the part of string
# indexes are 0 based ranging from 0 to len(s)-1

s = "Michael"
print(s)

Michael

In [46]:
print(s[0])

M

In [48]:
len(s)

7

In [47]:
# Python also allows the use of negative numbers as indexes to reference
# positions relative to the end of the string

s[-1]

'l'

In [49]:
# the slicing operator [start:end] returns the slice of the string
s[1:4] # returns a substring between index 1, to index 3

'ich'

In [50]:
s[:4] # returns a substring from index 0, to index 3

'Mich'

In [52]:
s[1:-1] # this is the same as s[1:-1+len(s)]

'ichae'

---
#### Concatenation(+) and Repetition(*) of Strings
---

In [56]:
# you can use the (+) operator to concatenate the strings together and (*) to concatenate the same
# string multiple times

s1 = "Welcome"
s2 = "Python tutorial"

s3 = s1 + " to " +s2
print(s3)

Welcome to Python tutorial

In [59]:
s4 = 3*s1
s5 = s1*3
print(s4)
print(s5) # both have the same effect

WelcomeWelcomeWelcome
WelcomeWelcomeWelcome

---
#### The *in* and *not in* Operators
---

In [60]:
# we can use "in" and "not in" operators to test wether the string is in another string or not

"ch" in s

True

In [61]:
"ch" not in s

False

---
#### Comparing of Strings
---

In [63]:
# we can compare the strings by using of (==,!=, >, >=, <, and <=) which return the bolean (True or False)

"Green" == "glow" # this depends on the ASCII

False

In [65]:
"Green" < "glow"

True

---
#### Iterating over String
---

In [67]:
for i in range(0, len(s), 1): # by using of for loops
    print(s[i], end='')

Michael

---
#### Testing of Strings
---

In [71]:
# we can use many useful methods to test the characters of strings
s = 'Michael '
s.isalnum() # returns True if the characters of this string is alphanumeric and there is at least one character

False

In [73]:
s.isalpha() #returns True if the characters of this string is alphabetic and there is at least one character

False

In [90]:
x = '1234'
if x.isdigit():#Returns True if this string contains only number characters.
    print(x, 'is a Number string')

1234 is a Number string

In [78]:
z = ' '
z.isspace()

False

In [82]:
a= 'abds'
a.islower()

True

In [80]:
c="ABC"
c.isupper()

True

In [85]:
"u lo".isidentifier()

False

---
#### String Searching
---

In [91]:
# We can search for a substring in a string by using of the following methods
a = "Welcome to Python"
a.startswith('W') # returns True if the substring is start with the mentioned letter

True

In [92]:
a.endswith('thon') # returns True if the substring is ends with the mentioned letter

True

In [93]:
a.find('come') # returns the lowest index of the substring where it starts or -1

3

In [94]:
a.rfind("o") # returns the highest index of the substring where it starts or -1

15

In [95]:
a.count('o') # returns the number of non overlapping occurrence in string

3

---
#### Converting of Strings
---

In [96]:
# We can convert the string by using of the following methods
x = "you are pythonista"
x.capitalize() # Capitalize the first letter

'You are pythonista'

In [97]:
x.title() # returns the string all words are capitalized

'You Are Pythonista'

In [98]:
x.lower() # returns all words of lower case string

'you are pythonista'

In [100]:
x.upper() # capitalize all letters in the string

'YOU ARE PYTHONISTA'

In [99]:
z = "Beutiful Soup"
z.swapcase() # returns the lower to capitals and viceversa

'bEUTIFUL sOUP'

In [101]:
z.replace('Soup', 'City') # replace the old to new

'Beutiful City'

---
#### Stripping Whitespace Characters
---

In [102]:
t = " Welcome to Python\t"
t.rstrip() # remove the whitespace and its characters in the right

' Welcome to Python'

In [103]:
t.lstrip() # remove the left whitespace

'Welcome to Python\t'

In [104]:
t.strip()# returns the trimmed whitespace from both sides

'Welcome to Python'

---
#### Formatting Strings
---

In [106]:
v = "Welcome"

v.ljust(10) # returns string left justified with the specified width

'Welcome   '

In [107]:
v.rjust(10) # returns string right justified with the specified width

'   Welcome'

In [108]:
v.center(10) # returns string centerly justified with the specified width

' Welcome  '

In [109]:
a = 3
b= 6
f'{a} + {b} is {a+b}'

'3 + 6 is 9'