### Tuples, Lists and Dictionaries
---
      We can use a tuple for storing a fixed list of elements, a set for storing and quickly
      accessing nonduplicate elements, and a dictionary for storing key/value pairs and for
      accessing elements quickly using the keys.
---

#### Tuples
---
      Tuples are like lists, but their elements are fixed; that is, once a tuple is created, you
      cannot add new elements, delete elements, replace elements, or reorder the elements in
      the tuple.

In [1]:
# tuples are created by using the parenthesis or round bracket
# you can instantiate the tuples with empty bracket and then 
# create a list of tuples 

t = () # create an empty list

In [2]:
t1 = (1, 2, 3) # create a tuple with three elements

In [3]:
t3 = tuple([x for x in range(1, 6)]) # create a tuple from list
print(t3)

(1, 2, 3, 4, 5)

In [4]:
t4 = tuple("abcde") # create a tuple from a string
print(t4)

('a', 'b', 'c', 'd', 'e')

In [5]:
tup1 = ("Python", "Python", "Javascrip", "R") # it allow duplicate elements
print(tup1)
print(len(tup1)) # to know the length of tuple
tup2 = ("Python", 4, True) # accept any data type elements
print(tup2)

('Python', 'Python', 'Javascrip', 'R')
4
('Python', 4, True)

---
#### Accessing Tuple elements
---

In [6]:
# we can use an [index] to access the elements of tuples
tup3 = ("Banana", "Cherry", "Orange", "Pineapple", "PC", "Mouse")
print(tup3[1]) # to access the first index
print(tup3[-1]) # to access the last index
print(tup3[:4]) # to access the first four index
print(tup3[4:6]) # to access the last two index
print(tup3[-4:]) # to access the last four elements

Cherry
Mouse
('Banana', 'Cherry', 'Orange', 'Pineapple')
('PC', 'Mouse')
('Orange', 'Pineapple', 'PC', 'Mouse')

In [7]:
# to check if item of interest exists in tuple we use
if "Banana" in tup3:
    print("Yes", tup3[0], "exist in the tuple")

Yes Banana exist in the tuple

---
#### Update Tuples
---

In [8]:
# tuples created cannot be updated or changed but the workaround to add item to is
# to change into a list and then update and finally convert to tuple by using the tuple() function

tup4 = ("Banana", "Coffee", "Tea") # if we wanna change the items in index 1
y = list(tup4)
print(y)
y[1] = 'Car'
print(y)
x = tuple(y)
print(x)

['Banana', 'Coffee', 'Tea']
['Banana', 'Car', 'Tea']
('Banana', 'Car', 'Tea')

In [9]:
# to add items to it the work is similar to change
z = list(x) # change into list
print(z)
z.append('Dog') # add element into a list
print(z)
v = tuple(z) # convert list into tuple
print(v)

['Banana', 'Car', 'Tea']
['Banana', 'Car', 'Tea', 'Dog']
('Banana', 'Car', 'Tea', 'Dog')

In [10]:
# to remove item from the tuple
f = list(v)
print(f)
f.remove('Car')
print(f)
d = tuple(f)
print(d)

['Banana', 'Car', 'Tea', 'Dog']
['Banana', 'Tea', 'Dog']
('Banana', 'Tea', 'Dog')

In [11]:
# to delete the tuple 
del f
print(f)

NameError: name 'f' is not defined

---
#### Unpack Tuple
---

In [12]:
(x, y, z) = d
print(x)
print(y)
print(z)

Banana
Tea
Dog

In [13]:
(x, *y, z) = v # if you have several items to unpack
print(x)
print(y)
print(z)

Banana
['Car', 'Tea']
Dog

---
#### Loops over Tuples
---

In [14]:
g = ("car", "bike", "bicycle", "horse", "mule")
for i in range(len(g)):
    print(g[i], end = " ") # loop through the tuple items by refering their index

car bike bicycle horse mule

In [15]:
for x in g:
    print(x, end = " ")

car bike bicycle horse mule

In [16]:
i = 0
while i < (len(g)):
    print(g[i], end = " ")
    i = i +  1

car bike bicycle horse mule

In [17]:
# join tuples
h = g + d
print(h)

('car', 'bike', 'bicycle', 'horse', 'mule', 'Banana', 'Tea', 'Dog')

In [18]:
j = ('red', 'red', 'red') # count method for tuple
x = j.count('red')
print(x)

3

---
### Sets
    - Created to store multiple items in a single variable
    - Unordered, Unindexed and Unchengable
    - Created by using curly {} brackets
---

In [19]:
# the set list is unordered, meaning: the items will appear in a random order
my_set = {"banana", "orange", "biscuits", "orange", True, 1} # duplicates are not allowed unlike tuples
print(my_set) # it consider 1 and True are the same, the same for False and 0

{'orange', True, 'banana', 'biscuits'}

In [20]:
for x in my_set: # to access the items in set
    print(x, end = " ")

orange True banana biscuits

In [21]:
for i in my_set:
    print(my_set[i]) # raise TypeError as its not an indexed object

TypeError: 'set' object is not subscriptable

In [22]:
# you cannot change items but you can add by using add() method
my_set.add('Computer') 
print(my_set)

{'orange', True, 'biscuits', 'banana', 'Computer'}

In [23]:
this_set = {'Youtube', "LinkedIn", "Facebook"} # update the set
my_set.update(this_set)
print(my_set)

{'orange', True, 'biscuits', 'Youtube', 'banana', 'Computer', 'LinkedIn', 'Facebook'}

In [24]:
lists = [1, "fruit"]
my_set.update(lists)
print(my_set)

{'orange', True, 'biscuits', 'fruit', 'Youtube', 'banana', 'Computer', 'LinkedIn', 'Facebook'}

In [25]:
my_set.remove('Facebook') # to remove item from set
print(my_set)

{'orange', True, 'biscuits', 'fruit', 'Youtube', 'banana', 'Computer', 'LinkedIn'}

In [26]:
my_set.discard('Tiktok')
print(my_set)

{'orange', True, 'biscuits', 'fruit', 'Youtube', 'banana', 'Computer', 'LinkedIn'}

In [27]:
del this_set # to delete the set
print(this_set)

NameError: name 'this_set' is not defined

---
#### Dictionaries
    - Dictionaries are used to store data values in key:value pairs.
    - A dictionary is a collection which is ordered, changeable and do not allow duplicates.
---

In [28]:
employee = {} # creates an empty dictionary
print(employee)

{}

---
#### Adding, Retrieving and Modifying Dictionary values

In [29]:
employee['2023'] = "Michael" # to create the dictionary
employee['2024'] = "Ramakrishna"
print(employee)

{'2023': 'Michael', '2024': 'Ramakrishna'}

In [30]:
employee['2023'] # to retrieve the value for the key

'Michael'

In [31]:
employee['2023'] = "Michael Yousuf" # to modeify the value for the key "2023"

In [32]:
employee

{'2023': 'Michael Yousuf', '2024': 'Ramakrishna'}

In [33]:
# to delete items from dictionary
del employee['2023']
print(employee)

{'2024': 'Ramakrishna'}

In [34]:
employee

{'2024': 'Ramakrishna'}

In [35]:
employee['3455'] = "John Doe"
employee['4422'] = "Susan"
employee

{'2024': 'Ramakrishna', '3455': 'John Doe', '4422': 'Susan'}

In [36]:
for key in employee: # looping ov
    print(key +":"+ str(employee[key]), end= " ")

2024:Ramakrishna 3455:John Doe 4422:Susan

In [37]:
# you can find the number of items in dictionary by using len() function
len(employee)

3

In [38]:
# you can use to test wether a key is in a dictionary or not by using of
"2024" in employee

True

In [39]:
# create two new dictionaries
d1 = {'blue':203, "red": 43}
d2 = {'blue':32, "red": 54}

In [41]:
# the equality test between two dictionaries will be done with "==" or "!="
d1 == d2
#d1 != d2

False

---
#### Methods in Dictionary
---

In [43]:
tuple(d2.keys()) # returns a sequence of keys

('blue', 'red')

In [44]:
tuple(d2.values()) # returns a sequence of values

(32, 54)

In [45]:
tuple(d2.items()) # returns a sequence of tuple for key value pairs

(('blue', 32), ('red', 54))

In [46]:
d2.get("blue") # returns the value of key

32

In [47]:
d2.pop('blue') # removes the key and returns its value

32

In [48]:
d2

{'red': 54}

In [49]:
d2.clear() # clears the dictionary fromm all items

In [50]:
d2

{}

---
#### Exercise
---

In [ ]:

#How to create an empty dictionary

In [63]:
#d3 = {1:[1, 2], 3:[3, 4]}
#d5 = {(1, 2):1, (3, 4):3}
#d6 = {1:"john", 3:"peter"}
#d7 = {"john":1, "peter":3}

In [61]:
#Suppose a dictionary named students is {"john":3, "peter":2}. What do the
#following statements do?

students = {"john":3, "peter":2}
#students["susan"] = 5
#students["peter"] = 5
#students["peter"] += 5
#del students["peter"]

In [62]:
students

{'john': 3, 'peter': 7}